@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body,
#root,
.app {
  width: 100%;
  height: 100%;
}

.header {
  background-color: rgb(240, 240, 240);
  height: 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 3px 10px 3px rgba(0.1, 0.1, 0.1, 0.1);
}

.header-pics {
  display: flex;
}

.header-btn,
.header-timer {
  margin: 1rem;
}

.header-pic-container > img {
  width: 50px;
  margin: 0px 6px;
}

.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55%;
  width: 10%;
  word-wrap: break-word;
  cursor: pointer;
  font-weight: 900;
  border: 3px solid black;
  transition: 300ms background-color ease-in-out;
}

.header-btn:hover {
  background-color: rgb(214, 213, 213);
}

.main {
  width: 100%;
  height: 91%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main > img {
  width: 95%;
  height: 95%;
}

.popup {
  list-style-type: none;
  position: absolute;
  background-color: white;
  border-radius: 6px;
  font-family: sans-serif;
  font-weight: bold;
}

.popup > li {
  padding: 0.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.popup > li:hover {
  background-color: rgb(247, 247, 247);
}

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}
